<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Changement de mot de passe</h4>
        </header>
        <article class="card-body">
          <form name="form" (ngSubmit)="f.form.valid && checkMdp() === false && onSubmitMdp()" #f="ngForm" novalidate>
            <!-- form-row end.// -->
            <div class="form-group">
              <label>Mot de passe</label>
              <input type="password" class="form-control" name="mdp" [(ngModel)]="form.mdp" required minlength="6"
                     #mdp="ngModel" l>
              <div class="alert alert-danger" role="alert" *ngIf="mdp.errors && f.submitted">
                <div *ngIf="mdp.errors.required">Veuillez renseigner un mot de passe</div>
                <div *ngIf="mdp.errors.minlength ">Le mot de passe doit être composé de 6 caractères minimum</div>
              </div>
            </div>
            <div class="form-group">
              <label>Réécrivez votre mot de passe</label>
              <input type="password" class="form-control" name="mdp2" [(ngModel)]="form.mdp2" required minlength="6"
                     #mdp2="ngModel" l>
              <div class="alert alert-danger" role="alert" *ngIf="mdp2.errors && f.submitted">
                <div *ngIf="mdp2.errors.required">Veuillez renseigner un mot de passe</div>
                <div *ngIf="mdp2.errors.minlength ">Le mot de passe doit être composé de 6 caractères minimum</div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="areMdpDifferent">Les mots de passe doivent
                correspondre
              </div>

            </div>
            <!-- form-group end.// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Changer votre mot de passe</button>
            </div>
            <!-- form-group// -->
            <div class="form-group">
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isEditDone">
                Changement de mot de passe impossible : {{ errorMessage }}
              </div>
            </div>
            <div class="alert alert-success" *ngIf="isMdpSuccessful">
              Mot de passe changé avec succès !
            </div>
          </form>
        </article>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Changement d'adresse mail</h4>
        </header>
        <article class="card-body">
          <form name="form2" (ngSubmit)="f2.form.valid && checkMail() === false && onSubmitMail()" #f2="ngForm" novalidate>
            <!-- form-row end.// -->
            <div class="form-group">
              <label>Nouvelle adresse mail</label>
              <input type="email" class="form-control" name="mail" [(ngModel)]="form2.mail" required minlength="3"
                     #mail="ngModel">
              <div class="alert alert-danger" role="alert" *ngIf="mail.errors && f2.submitted">
                <div *ngIf="mail.errors.minlength ">L'adresse mail doit être d'au moins 3 caractères.</div>
              </div>
            </div>
            <div class="form-group">
              <label>Nouvelle adresse mail</label>
              <input type="email" class="form-control" name="mail2" [(ngModel)]="form2.mail2" required minlength="3"
                     #mail2="ngModel">
              <div class="alert alert-danger" role="alert" *ngIf="mail2.errors && f.submitted">
                <div *ngIf="mail2.errors.minlength ">L'adresse mail doit être d'au moins 3 caractères.</div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="areMailDifferent">Les adresses mails doivent
                correspondre
              </div>
            </div>
            <!-- form-group end.// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Changer votre addresse mail</button>
            </div>
            <!-- form-group// -->
            <div class="form-group">
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isEditDone">
                Changement d'adresse mail impossible : {{ errorMessage }}
              </div>
            </div>
            <div class="alert alert-success" *ngIf="isMailSuccessful">
              Adresse mail changée avec succès !
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>



