<div class="center">
  <div class="left">
    <iframe width="1150" height="650" [src]="urlSafe" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <h4>{{title}}</h4>
  </div>
<button hidden id="buttonpopup" #buttonpopup (click)="popupannonce.show()" ></button>
  <div mdbModal #popupannonce="mdbModal" class="modal fade left" id="popupannonce" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document" *ngIf="annonce">
      <div class="modal-content" style="overflow:inherit">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">{{annonce.titre}}</h4>
          <button type="button" class="close" id="button-close" data-dismiss="modal" aria-label="Close" (click)="popupannonce.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <img src="{{annonce.video}}">
      </div>

    </div>
  </div>
  <div class="right">
    <button [hidden]="del" ngbDropdownItem type="button" mdbBtn color="default" rounded="true" data-toggle="modal"
      data-target="#basicExample" (click)="deleteVideo()" mdbWavesEffect>Supprimer la vidéo de votre playlist</button>
    <flash-messages></flash-messages>
    <app-button-playlist [id]="id" [miniature]="miniature" [title]="title" [hidden]="addPlaylist"></app-button-playlist>
  </div>
</div>
