
<h2>Vos annonces</h2>
<div class="form-group buttonDiv">
  <button [routerLink]="'/uploadAnnonce'" class="btn btn-primary btn-block boutonAnnonce">Créer une nouvelle annonce</button></div>
<div class="container">
  <div class="playlist" *ngFor="let i of annonces">
    <i class="bi bi-trash icon" (click)="deleteAnnonce(i._id)"></i>
    <i class="bi bi-pencil-square icon" (click)="setId(i._id)" (click)="rename.show()"></i>
    <img class="click p-2" src="{{i.video}}" width="256" (click)="annonce(i._id)">
    <h5 class="click" (click)="annonce(i._id)">{{i.titre}}</h5>
  </div>

</div>



<div mdbModal #rename="mdbModal" class="modal fade left"  tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Changer le nom de votre annonce</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="rename.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label>Nouveau nom de l'annonce</label>
          <input type="text"  [formControl]="newNameAnnonce" class="form-control" mdbInput
                 mdbValidate>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" (click)="renameAnnonce()" (click)="rename.hide()"
                mdbWavesEffect>Valider</button>
      </div>
    </div>
  </div>
</div>
