<div class="background">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a routerLink="/home" routerLinkActive="active" class="mr-5"><img src="../../assets/logo.png" alt="Logo"></a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#header"
              aria-controls="header" aria-expanded="false" aria-label="Bouton home" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="header">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
          <li class="nav-item" *ngIf="grade">
            <a class="nav-link" routerLink="/profilUtilisateur" routerLinkActive="active" href="#">Mon profil<span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="grade">
            <a class="nav-link" routerLink="/playlist" routerLinkActive="active" href="#">Mes playlists<span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="grade">
            <a class="nav-link" routerLink="/history" routerLinkActive="active" href="#">Historique<span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="grade=='annonceur'">
            <a class="nav-link" routerLink="/annonce" routerLinkActive="active" href="#">Mes annonces<span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="grade=='moderateur'">
            <a class="nav-link" routerLink="/moderation" routerLinkActive="active" href="#">Modération<span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLoggedIn()" routerLink="/login" href="#" class="nav-link" (click)=onLogout()>Déconnexion<span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active" href="#"
               class="nav-link">Connexion<span
              class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
