.background {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 0;
    background: #7887AB;
}

.background .logo {
    text-align: center;
}

.background .logo img {
    max-height: 64px;
}

.background .logo1 {
    position: absolute;
    left: 83%;
    right: 13%;
    top: 18%;
    bottom: 20%;
}

.background .logo2 {
    position: absolute;
    left: 87%;
    right: 13%;
    top: 18%;
    bottom: 20%;
}

.fa-2x {
    color: #2d2929;
}

.background .logo3 {
    position: absolute;
    left: 91%;
    right: 13%;
    top: 18%;
    bottom: 20%;
}